.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  width: 100%;
  background: white;
  position: fixed;
  bottom: 0;
  
}
